{% extends 'base.html' %}

{% block title %}Add{% endblock title %}

{% block content %}
    <form action="" method="POST">
    {% csrf_token %}
        <table class="table table-hover">
            {{ form_obj.as_table }}
{#            {{ form_obj.as_ul }}#}
        </table>
        <input type="submit" class="btn btn-dark" value="Добавить">
    </form>
{% endblock content %}