{% extends 'base.html' %}

{% block title %}Auth{% endblock title %}

{% block content %}
    <section class="admin-add-usl grid grid-center">
        <form action="" method="POST">
            {% csrf_token %}
            <div>
                <input required type="text" name="username" id="username" placeholder=" ">
                <label for="username">Login</label>
            </div>
            <div>
                <input required type="password" name="pass" id="pass" placeholder=" ">
                <label for="pass">Password</label>
            </div>
            <div>
                <input type="submit" value="Sign in" id="1">
            </div>
        </form>
    </section>
{% endblock content %}