{% extends 'base.html' %}

{% block title %}Delete{% endblock title %}

{% block content %}
    <form action="" method="POST">
    {% csrf_token %}
        <p>Хотите удалить запись: {{ obj }}?</p>
        <input type="submit" class="btn btn-dark" value="Да" name="yes">
        <input type="submit" class="btn btn-dark" value="Нет" name="no">
    </form>
{% endblock content %}