{% extends 'base.html' %}

{% block title %}Edit{% endblock title %}

{% block content %}
    <form action="" method="POST">
    {% csrf_token %}
        <table class="table table-hover">
            {% for x in form %}
            <tr><td>{{ x.label }}</td><td>{{ x }}</td></tr>
            {% endfor %}
        </table>
        <input type="submit" class="btn btn-dark" value="Изменить">
    </form>
{% endblock content %}