{% extends 'base.html' %}

{% block title %}Main page{% endblock title %}

{% block content %}
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="container">
                <table class="table table-hover">
                    <p>Главная страница</p>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}