{% extends 'base.html' %}

{% block title %}Order{% endblock title %}

{% block content %}
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="container">
                <table class="table table-hover">
                    <tr>
                    {% for item in field_list %}
                        <td>{{ item }}</td>
                    {% endfor %}
						<td>
                            <a href="{% url temp%}">Добавить</a>
                        </td>
                    </tr>
                    {% for obj in obj_list %}
                        <tr>
                            <td>{{ obj.id_associate }}</td>
                            <td>{{ obj.id_card }}</td>
                            <td>{{ obj.id_buyer }}</td>
                            <td>{{ obj.date }}</td>
                            <td>
                                <a href="{% url "edit_order" obj.id_order %}">Изменить</a>
                            </td>
                            <td>
                                <a href="{% url "delete_order" obj.id_order %}">Удалить</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock content %}