{% extends 'base.html' %}

{% block title %}Associate{% endblock title %}

{% block content %}
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="container">
                <table class="table table-hover">
                    <tr>
                    {% for item in field_list %}
                        <td>{{ item }}</td>
                    {% endfor %}
						<td>
                            <a href="{% url temp%}">Добавить</a>
                        </td>
                    </tr>
                    {% for obj in obj_list %}
                        <tr>
                            <td>{{ obj.id_stock }}</td>
                            <td>{{ obj.id_shop }}</td>
                            <td>{{ obj.name }}</td>
                            <td>{{ obj.second_name }}</td>
                            <td>{{ obj.last_name }}</td>
                            <td>{{ obj.passport }}</td>
                            <td>{{ obj.wage }}</td>
                            <td>{{ obj.position }}</td>
                            <td>
                                <a href="{% url "edit_associate" obj.id_associate%}">Изменить</a>
                            </td>
                            <td>
                                <a href="{% url "delete_associate" obj.id_associate%}">Удалить</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock content %}