{% extends 'base.html' %}

{% block title %}Book{% endblock title %}

{% block content %}
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="container">
                <table class="table table-hover">
                    <tr>
                    {% for item in field_list %}
                        <td>{{ item }}</td>
                    {% endfor %}
						<td>
                            <a href="{% url temp%}">Добавить</a>
                        </td>
                    </tr>
                    {% for obj in obj_list %}
                        <tr>
                            <td>{{ obj.id_author }}</td>
                            <td>{{ obj.id_provider }}</td>
                            <td>{{ obj.id_genre }}</td>
                            <td>{{ obj.id_publisher }}</td>
{#                            <td>{{ obj.id_basket }}</td>#}
                            <td>{{ obj.name }}</td>
                            <td>{{ obj.language }}</td>
                            <td>{{ obj.price }}</td>
{#                            <td>{{ obj.cover }}</td>#}
                            <td>
                                <a href="{% url "edit_book" obj.id_book %}">Изменить</a>
                            </td>
                            <td>
                                <a href="{% url "delete_book" obj.id_book %}">Удалить</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock content %}