{% extends 'base.html' %}

{% block title %}Buyer{% endblock title %}

{% block content %}
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="container">
                <table class="table table-hover">
                    <tr>
                    {% for item in field_list %}
                        <td>{{ item }}</td>
                    {% endfor %}
						<td>
                            <a href="{% url temp%}">Добавить</a>
                        </td>
                    </tr>
                    {% for obj in obj_list %}
                        <tr>
                            <td>{{ obj.name }}</td>
                            <td>{{ obj.second_name }}</td>
                            <td>{{ obj.mail }}</td>
                            <td>{{ obj.time }}</td>
{#                            <td>#}
{#                                <a href="{% url "edit_buyer" obj.id_buyer %}">Изменить</a>#}
{#                            </td>#}
{#                            <td>#}
{#                                <a href="{% url "delete_buyer" obj.id_buyer %}">Удалить</a>#}
{#                            </td>#}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock content %}