{% extends 'base.html' %}

{% block title %}Shop&Stock{% endblock title %}

{% block content %}
    {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="container">
                <table class="table table-hover">
                    <tr>
                        {% for item in field_list_shop %}
                            <td>{{ item }}</td>
                        {% endfor %}
                        <td>
                            <a href="{% url shop %}">Добавить</a>
                        </td>
                    </tr>
                    {% for obj in shop_list %}
                        <tr>
                            <td>{{ obj.adress }}</td>
                            <td>{{ obj.phone }}</td>
                            <td>
                                <a href="{% url "edit_shop" obj.id_shop %}">Изменить</a>
                            </td>
                            <td>
                                <a href="{% url "delete_shop" obj.id_shop %}">Удалить</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                </br>
                </br>
                </br>
                <table class="table table-hover">
                    <tr>
                        {% for item in field_list_stock %}
                            <td>{{ item }}</td>
                        {% endfor %}
                        <td>
                            <a href="{% url stock %}">Добавить</a>
                        </td>
                    </tr>
                    {% for obj in stock_list %}
                        <tr>
                            <td>{{ obj.id_shop }}</td>
                            <td>{{ obj.adress }}</td>
                            <td>
                                <a href="{% url "edit_stock" obj.id_stock %}">Изменить</a>
                            </td>
                            <td>
                                <a href="{% url "delete_stock" obj.id_stock %}">Удалить</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock content %}