{% extends "base.html" %}

{% block title %}Thanks{% endblock title %}

{% block content %}
    <div class="container">
        <div class="text">
            <p>Данные изменены</p>
            {{ form.as_table }}
            <a class="nav-link" href="{% url "bookshop" %}">Главная страница</a>
        </div>
    </div>
{% endblock content %}