{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>

    {#      JQuery  #}
    <script src="{% static 'js/jquery-3.2.1.min.js' %}" type="jscript"></script>

    {#        Bootstrap #}
    <link href='{% static 'css/bootstrap.min.css' %}' rel="stylesheet" type="text/css"/>
</head>
<body>
{% include 'header.html' %}
{% block content %}
{% endblock content %}
{% include 'footer.html' %}
</body>
</html>