<footer class="navbar-fixed-bottom">
    <div class="fixed-bottom">
        <div class="container">
            <div class="text">
                <p>2018 г.</p>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "logout" %}">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>