<!-- Static navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="{% url "bookshop" %}"><span
            class="P-letter">M</span>ain page</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url "show_associate" %}">Сотрудники</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "show_author" %}">Авторы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "show_availability" %}">Наличие</a>
            </li>
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="{% url "show_basket" %}">Корзина</a>#}
{#            </li>#}
            <li class="nav-item">
                <a class="nav-link" href="{% url "show_book" %}">Книги</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "show_buyer" %}">Покупатели</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "show_card" %}">Карты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "show_deliver" %}">Доставка</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "show_department" %}">Отдел</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "show_genre" %}">Жанр</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "show_order" %}">Заказы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "show_provider" %}">Поставщики</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "show_publisher" %}">Издатели</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "show_review" %}">Отзывы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "show_shop" %}">Магазины</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "show_stock" %}">Склады</a>
            </li>
{#            <li class="nav-item">#}
{#                <a class="nav-link" href="{% url "sql" %}">SQL</a>#}
{#            </li>#}
        </ul>
    </div>
</nav>